/* Variables and mixins declared here will be available in all other SCSS files */

$white: #fff;
$black: #000;

$accent-color: #05D686;

$gray-15: #171717;
$gray-14: #242424;
$gray-13: #333;
$gray-12: #3d3d3d;
$gray-11: #555;
$gray-10: #6f6f6f;
$gray-09: #8b8b8b;
$gray-08: #a5a5a5;
$gray-07: #c1c1c1;
$gray-06: #dfdfdf;
$gray-05: #ececec;
$gray-04: #efefef;
$gray-03: #f5f4f3;
$gray-02: #f7f7f7;
$gray-01: #fbfbfb;

$cell-default-width: 8rem;